* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f4f6f9;
}

/* Layout */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 260px;
    background: #3e5a74;
    color: #fff;
    padding: 20px;
}

.logo {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.4;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 12px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
}

.menu li:hover,
.menu .active {
    background: #4f6f8f;
}

.logout {
    
    margin-top: 40px;
    background: #418840;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 30px;
}

/* Header */
.header {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.header h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.header p {
    color: #666;
}

.btn {
    background: #2f80ed;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.btn i {
    margin-right: 6px;
}

.btn:hover {
    background: #1f6ad6;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 25px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.card h3 {
    font-size: 16px;
    color: #444;
}

.card p {
    font-size: 26px;
    font-weight: bold;
}

.icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 22px;
}

/* Card Colors */
.blue .icon {
    background: #3498db;
}

.orange .icon {
    background: #f39c12;
}

.green .icon {
    background: #2ecc71;
}

/* Content Box */
.content-box {
    background: #fff;
    height: 280px;
    margin-top: 30px;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}
